// обновленные стандартные стили

// Заголовок
@import "common/title";
// Контролы
@import "common/controls";
// Линки
@import "common/link";
// Кнопки
@import "common/buttons";
// Меню
@import "common/navbar";
// Меню
@import "common/status";
// Таблица
@import "common/table";
